/* l'importation des polices*/
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/*body, comme son nom l'indique c'est le corp de la page*/
body{
    background-color:rgb(4, 24, 33);
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
/*l'en-tete*/
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;
}
/*paragraphe de l'en tete, le nom*/ 
header p{
    color: white;
    font-size: 26px;
    font-family: "Yeseva One", sans-serif;
}
/*la barre qui traverse la page*/
.bar{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(46, 45, 45);
}
/*l'intro de la page*/
.photogrph{
    display: flex;
    margin-left: 8%;
    margin-bottom: -2%;
    flex-wrap: wrap;
}
/*le paragraphe de l'intro*/
.photogrph p{
    font-family: "Yeseva One", sans-serif;
    color: white;
    font-size: 40px;
}
/*le petit point turquoise a coté de SOLENE AVRIL*/
#pntvert{
    color: hsl(162, 72%, 49%);
}
/*la modification des icones importès de fontawesome*/
.icones{
    align-content: center;
    justify-self: end;
    margin: 30px;
    margin-left:100%;
    display: inline-flex; 
}
.icones i{
    color: white;
    margin-left: 15px;
    font-size: 20px;
}
/*les deux mots en turquoise*/
#deuxmotsdiff{
    color: hsl(162, 77%, 49%);
}
/*paragraphe en gris entre les mots turquoise et les boutons*/
main p{
    color: grey;
}
main .textegris{
    display: flex;
    margin-left: 8%;
    font-size: 20px;
}
/*les boutons en-dessous des phrases en gris et des images*/
.bouton{
    font-family: "Montserrat";
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: white;
}
/*pour chaque bouton cette fois*/
.bouton div{
    margin-right: 20px;
    text-align: center;
}
/*le bouton surligné*/
#boutonvert{
    background-color: #1ed79e;
}
/*la grille des images*/
.grille{
    display: grid;
    grid-template-columns: repeat(4, 400px);
    gap: 10px;
    justify-content: center;
}
/*les images individuelles*/
.grille img{
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
}
/*le pied de page*/
footer{
    padding-top: 50%;
    text-align: center;
}
/*pour les grands écrans*/
@media (min-width: 1025px){
    .grille{
        padding-top: 30px;
        margin: 40px auto;
    }
    .grille-item{
        max-width: 200px;
        height: 200px;
    }
    .grille-item #Image{
        max-width: 200px;
        height: 200px;
    }
}
/*ici les tablettes*/
@media (min-width: 641px) and (max-width: 1024px){
    .grille{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
        padding-top: 20px;
    }
    .grille img{
        width: 140px;
        height: 140px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
    .bouton div{
        font-size: 16px;
    }
    .icones i{
        font-size: 20px;
    }
}
/*enfin, les téléphones*/
@media (max-width: 640px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    header p{
        justify-self: center;
        font-size: 26px;
    }
    .icones{
        justify-content: center;
        margin: 10px 0;
    }
    .bar{
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(46, 45, 45);
    }
    .bouton{
        font-family: "Montserrat";
        font-size: 10px;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        color: white;
    }
    .bouton div{
        margin-right: 15px;
        text-align: center;
    }
    .grille{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        justify-content: center;
    }
    .grille img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }
}